.hoge {
  $dollar-variables: 0;

  --custom-properties: 0;

  pointer-events: none;
  cursor: pointer;

  position: absolute;
  transform: rotate(90deg);

  overflow: hidden;
  display: block;

  width: auto;
  margin: 0;
  padding: 0;
  border: 1px solid #ddd;

  font-size: 1rem;
  text-align: center;

  background-color: #000;

  transition-timing-function: ease-in-out;
  transition-duration: 0.2s;
  transition-property: transform;

  fill-color: #999;
}
